.toast-message {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #634caf;
  color: #fff;
  animation: slideIn 0.8s, fadeOut 6s 1.5s forwards;
  font-family: Roboto;
}

.approval_img {
  margin-left: -8vw;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
